*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 6px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header:hover{
   background-color: lightgray 
}

header nav{
    display: flex;
    align-items: center;
}

header aside a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0 15px;
    padding: 10px 0;
}

header aside a:hover{
    color: orangered;
}


header nav aside:hover div{
    display: block;
}

header nav aside div{
    background-color: hsl(0, 0%, 84%);
    padding: 30px 40px 80px 30px;
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100vw;
    display: none;
}

header nav aside div p{
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: hsl(0, 0%, 10%);
    font-family: Arial, Helvetica, sans-serif;
}

header nav aside div p:hover{
    color: orangered;
}

header nav aside div span{
    font-size: 13px;
    font-weight: 200;
    color: hsl(0, 0%, 20%);
}

header aside:nth-of-type(6) button{
    padding: 20px 50px;
    border-radius: 50px;
    margin: 10px;
    font-size: 18px;
    font-weight: 560;
    border: none;
    background-color: hsl(0, 0%, 95%);
}

header aside:nth-of-type(5) button{
    padding: 20px 50px;
    border-radius: 50px;
    margin: 10px;
    font-size: 18px;
    font-weight: 560;
    border: none;
    background-color: hsl(0, 0%, 95%);
}

header aside button:hover{
    background-color: white;
    border: 1px solid hsl(0, 0%, 90%);
}


aside:nth-of-type(7) summary{
    position: absolute;
    top: 1%;
    right: 0%;
    background-color: lightgrey;
    width: fit-content;
    padding: 100px 50px 500px 40px;
    display: none;
}

aside:nth-of-type(7):focus-within summary{
    display: block;
}

.wed:hover{
    color:hsl(0, 0%, 60%);
}

aside:nth-of-type(7) summary a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
}

aside:nth-of-type(7) summary a:hover{
    color: orangered;
}

aside:nth-of-type(7) summary h1:nth-of-type(1) button{
    padding:20px 120px;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    margin-top: 65px;
    background-color: white;
}

aside:nth-of-type(7) summary button{
    padding:20px 130px;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    background-color: white;
}

.fa-x{
    font-size: 35px;
    font-weight: 600;
    color: hsl(0, 0%, 50%);
    position: absolute;
    top: 4%;
    left: 10%;
}

.fa-caret-down:nth-of-type(1){
    font-size: 16px;
    margin-left: 50px;
}


section:nth-of-type(1){
    background-image: url(/images/babe.webp);
    padding: 80px 0 90px 10px;
    background-color: lightgrey;
    position: static;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section:nth-of-type(1)>div{
    display: flex;
    justify-content: space-evenly;
}


section:nth-of-type(1) nav h1{
    font-size: 50px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

section:nth-of-type(1) nav{
    padding: 50px 10px;
    margin: 140px 0 0 0;
}

section:nth-of-type(1) nav span{
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

section:nth-of-type(1) nav button{
    padding: 21px 110px;
    border-radius: 50px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 16px;
    margin: 50px 0 0 0;
}

section:nth-of-type(1) nav button:hover{
    background-color: hsl(16, 100%, 40%);
}


 section:nth-of-type(1) figure input{
    padding: 12px 270px;
    border-radius: 50px;
    outline: none;
    border: 1px solid hsl(0, 0%, 70%);
    font-size: 16px;
 }

 section:nth-of-type(1) figure input:focus-within{
        box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.7);
 }

 section:nth-of-type(1) figure aside{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

section:nth-of-type(1) figure div{
    width: 16%;
    margin: 1.7% 4%;
    border-radius: 8px;
    background-color: white;
    padding: 20px 0;
    box-shadow: 5px 5px 5px 5px gray;
    text-align: center;
    transition: transform 0.4s ease
}

section:nth-of-type(1) figure div:hover{
      transform: scale(1.1);
}

section:nth-of-type(1) figure div p{
    font-size: 11px;
    font-weight: 600;
}
 
section:nth-of-type(1) figure div img{
    background-color: hsl(0, 0%, 90%);
    border-radius: 50px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

body slot button{
    padding: 20px 40px;
    border-radius: 12px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 18px;
    position: fixed;
    bottom: 2%;
    left: 78%;
}


body slot button:hover{
    color: black;
}


section:nth-of-type(2){
    background-image: url(/images/dotted.webp);
    background-size: cover;
    background-color: lightgrey;
}

section:nth-of-type(2)>div{
    display: flex;
    justify-content: space-around;
}

section:nth-of-type(2)>div aside{
    padding: 160px 0 80px 0;
}

section:nth-of-type(2)>div nav{
    padding: 120px 0 80px 0;
}

section:nth-of-type(2)>div aside h2{
    font-size: 40px;
    font-weight: 700;
}

section:nth-of-type(2)>div aside p:nth-of-type(1){
     margin-top: 50px;
}

section:nth-of-type(2)>div aside p{
    font-size: 24px;
    font-weight: 400;
    color: hsl(0, 0%, 30%);
    line-height: 38px;
}

section:nth-of-type(2)>div aside button:nth-of-type(1){
     padding: 22px 30px;
     font-size: 16px;
     border-radius: 50px;
     border: none;
     background-color: lightgrey;
     margin-top: 20px;
}

section:nth-of-type(2)>div aside button:nth-of-type(2){
    background-color: hsl(16, 100%, 50%);
    color: white;
     padding: 22px 50px;
     font-size: 16px;
     border-radius: 50px;
     border: none;
     margin-top: 20px;
}

section:nth-of-type(2)>div aside button:nth-of-type(2):hover{
     background-color: hsl(16, 100%, 40%);
}


section:nth-of-type(3){
    background-image: url(/images/dotted\ 3.webp);
    background-size: cover;
    padding: 10px 0 60px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgrey;
}


section:nth-of-type(3)>div{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}


section:nth-of-type(3)>div nav{
    padding: 160px 0 0 0;
}

section:nth-of-type(3)>div nav h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section:nth-of-type(3)>div nav p:nth-of-type(1){
     margin-top: 40px;
}

section:nth-of-type(3)>div nav p{
    font-size: 28px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(0, 0%, 10%);
    line-height: 38px;
}

section:nth-of-type(3)>div nav button:nth-of-type(1){
     padding: 22px 30px;
     font-size: 16px;
     border-radius: 50px;
     border: none;
     background-color: lightgrey;
     margin-top: 20px;
}

section:nth-of-type(3)>div nav button:nth-of-type(2){
    background-color: hsl(16, 100%, 50%);
    color: white;
     padding: 22px 50px;
     font-size: 16px;
     border-radius: 50px;
     border: none;
     margin-top: 20px;
}

section:nth-of-type(3)>div nav button:nth-of-type(2):hover{
     background-color: hsl(16, 100%, 40%);
}


section:nth-of-type(4){
    background-image: url(/images/snake.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: lightgrey;
    padding: 150px 200px 150px 200px;
}

section:nth-of-type(4) div h2{
    font-size: 32px;
    /* margin-bottom: 20px; */
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section:nth-of-type(4) div{
    margin-bottom: 50px;
}

section:nth-of-type(4) nav p{
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    color: hsl(0, 0%, 40%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section:nth-of-type(4) nav{
    margin: 50px 0;
}

section:nth-of-type(4) img{
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 5px 10px;
}

section:nth-of-type(4) main{
    margin: 10px 0;
}

section:nth-of-type(4) aside:nth-of-type(2) button:nth-of-type(1){
    padding: 20px 30px;
    background-color: rgba(255, 69, 0, 0.9);
    box-shadow: 0 3px 3px orange;
    border: none;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    margin-right: 13px;
    border-radius: 50px;
}
section:nth-of-type(4) aside:nth-of-type(2) button:nth-of-type(1):hover{
    background-color: hsl(16, 100%, 45%);
}


section:nth-of-type(4) aside:nth-of-type(2) button:nth-of-type(2){
    padding: 20px 30px;
    background-color: lightgrey;
    font-size: 14px;
    border: none;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 50px;
}



section:nth-of-type(5){
    background-image: url(/images/doted\ 2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgrey;
    padding: 50px 0 120px 0;
}

section:nth-of-type(5)>div{
    display: flex;
}

section:nth-of-type(5)>div aside{
    margin: 100px 0 0 20px;
}

section:nth-of-type(5)>div aside h2{
    font-size: 34px;
    line-height: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section:nth-of-type(5)>div aside p{
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    line-height: 38px;
    color: hsl(0, 0%, 40%);
}

section:nth-of-type(5)>div aside p:nth-of-type(1){
    margin-top: 20px;
}

section:nth-of-type(5)>div aside p a{
    font-size: 25px;
    color: green;
}

section:nth-of-type(5)>div aside p a:hover{
    color: blue;
}

section:nth-of-type(5)>div aside img{
    margin: 70px 15px;
}

section:nth-of-type(6){
    background-image: url(/images/circle.webp);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0 200px 0;
    background-color: lightgrey;
}

section:nth-of-type(6) h2{
    font-size: 37px;
    font-weight:700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section:nth-of-type(6) p{
   color: hsl(0, 0%, 50%);
   font-size: 28px;
   line-height: 45px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight:400;
}

section:nth-of-type(6) nav{
    margin-top: 40px;
}

section:nth-of-type(6) aside{
    position: relative;
    height: 600px;
}

section:nth-of-type(6) aside img:nth-of-type(1){
    position: absolute;
    top: 20%;
    right: 50%;
    z-index: 1;

}

section:nth-of-type(6) aside img:nth-of-type(2){
    position: absolute;
    right: 16%;
    z-index: 1;
}

section:nth-of-type(6) aside button{
    position: absolute;
    z-index: 10;
    top: 109%;
    padding: 20px 80px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #F26524;
}

section:nth-of-type(7){
    background-image: url(/images/orange.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 110px 0;
    text-align: center;
}

section:nth-of-type(7) input{
    padding:15px 0 15px 20px;
    width: 500px;
    border-radius: 50px;
    border:1px solid white;
    color: white;
    background-color: transparent;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 17px;
    outline: none;
}

section:nth-of-type(7) input::placeholder{
    color: white;
}

section:nth-of-type(7) button{
   padding: 20px 45px;
   background-color: pink;
   color: orangered;
   border: none;
   border-radius: 50px;
   font-size: 20px;
   margin-left: 10px;
}

section:nth-of-type(7) h2{
    font-size: 47px;
    font-weight: 900;
    color: white;
    font-family: monospace;
}

footer{
    padding: 70px 150px 40px 150px;
}

footer nav{
    margin-top: 150px;
}

footer nav a{
   color: black;
   text-decoration: none;
   font-weight: 600;
   font-size: 15px;
}

footer main{
    text-align: center;
}

footer main h2:nth-of-type(1){
    font-size: 16px;
    margin-bottom: 40px;
}

footer main img:nth-of-type(5){
    margin-top: 20px;
    margin-right: 10px;
}

footer>aside{
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 14px;
    font-family: cursive;
     color: hsl(0, 0%, 45%);
}

footer span{
    font-family: cursive;
    font-weight: 100;
    color: hsl(0, 0%, 45%);
}

footer div h2:nth-of-type(1){
    margin-bottom: 15px;
    font-size: 16px;
}

footer p:nth-of-type(2){
    margin-bottom: 20px;
    color: #F26524;
}

footer p:nth-of-type(4){
    margin-bottom: 15px;
}









/* ===========================
   GLOBAL RESPONSIVE FIXES
=========================== */
img, video {
    max-width: 100%;
    height: auto;
}

section, header, footer {
    width: 100%;
    overflow-x: hidden;
}

/* ===========================
   LARGE DEVICES (1200px)
=========================== */
@media (max-width: 1200px) {
    header aside a {
        font-size: 15px;
        margin: 0 10px;
    }

    section:nth-of-type(1) nav h1,
    section:nth-of-type(1) nav span {
        font-size: 40px;
    }

    section:nth-of-type(1) figure input {
        padding: 12px 150px;
    }

    section:nth-of-type(1) figure div {
        width: 20%;
    }
}

/* ===========================
   TABLETS (900px)
=========================== */
@media (max-width: 900px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header nav aside div {
        position: static;
        width: 100%;
    }

    section:nth-of-type(1)>div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section:nth-of-type(1) nav {
        margin: 60px 0 20px 0;
    }

    section:nth-of-type(1) figure input {
        padding: 12px 80px;
    }

    section:nth-of-type(1) figure div {
        width: 40%;
    }

    section:nth-of-type(2)>div,
    section:nth-of-type(3)>div,
    section:nth-of-type(5)>div {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
    }

    section:nth-of-type(4) {
        padding: 60px 20px;
    }

    footer {
        padding: 40px 20px;
    }

    footer > aside {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}

/* ===========================
   MOBILE PHONES (600px)
=========================== */
@media (max-width: 600px) {

    /* Header */
    header {
        padding: 10px;
    }

    header aside a {
        font-size: 14px;
    }

    header aside:nth-of-type(5) button,
    header aside:nth-of-type(6) button {
        padding: 12px 25px;
        font-size: 15px;
    }

    /* HERO */
    section:nth-of-type(1) {
        padding: 60px 10px;
    }

    section:nth-of-type(1) nav h1,
    section:nth-of-type(1) nav span {
        font-size: 30px;
    }

    section:nth-of-type(1) nav button {
        padding: 15px 40px;
    }

    section:nth-of-type(1) figure input {
        padding: 12px 20px;
        width: 90%;
    }

    section:nth-of-type(1) figure div {
        width: 80%;
        margin: 20px auto;
    }

    /* Section 2,3 text */
    section:nth-of-type(2)>div aside h2,
    section:nth-of-type(3)>div nav h2 {
        font-size: 28px;
    }

    section:nth-of-type(2)>div aside p,
    section:nth-of-type(3)>div nav p {
        font-size: 18px;
        line-height: 28px;
    }

    /* Email section */
    section:nth-of-type(7) input {
        width: 80%;
        margin: 20px auto;
    }

    section:nth-of-type(7) button {
        padding: 15px 25px;
        font-size: 16px;
        margin-top: 10px;
    }

    /* Footer */
    footer nav {
        text-align: center;
        margin-top: 60px;
    }
}

/* ===========================
   SMALL PHONES (400px)
=========================== */
@media (max-width: 400px) {
    section:nth-of-type(1) nav h1,
    section:nth-of-type(1) nav span {
        font-size: 26px;
    }

    section:nth-of-type(1) figure div {
        width: 90%;
    }

    section:nth-of-type(7) input {
        width: 90%;
    }
}
